#version: "3.9" - if you use Linux, remove this comment syntax

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "15672:15672"

  php:
    build: ./backend
    volumes:
      - ./backend/symfony:/var/www/html
    depends_on:
      - postgres
      - rabbitmq

  nginx:
    image: nginx:alpine
    volumes:
      - ./backend/symfony:/var/www/html
      - ./backend/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - php

  worker:
    build: ./backend
    command: php bin/console messenger:consume async
    volumes:
      - ./backend/symfony:/var/www/html
    depends_on:
      - postgres
      - rabbitmq

  frontend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run dev"

volumes:
  postgres_data:
