doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        driver: 'pdo_pgsql'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
        use_savepoints: true
        types:
            uuid: Symfony\Bridge\Doctrine\Types\UuidType
            resource_type: App\Resource\Infrastructure\Doctrine\Type\ResourceTypeType
            resource_status: App\Resource\Infrastructure\Doctrine\Type\ResourceStatusType
            resource_unavailability: App\Resource\Infrastructure\Doctrine\Type\ResourceUnavailabilityType
            datetime_range: App\Reservation\Infrastructure\Doctrine\Type\DateTimeRangeType
    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true
        mappings:
            Resource:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Resource/Domain/Entity'
                prefix: 'App\Resource\Domain\Entity'
                alias: Resource
            Reservation:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Reservation/Domain/Entity'
                prefix: 'App\Reservation\Domain\Entity'
                alias: Reservation
        controller_resolver:
            auto_mapping: false

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
